.error_500 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.error_500 .image {
  max-width: 500px;
  min-width: 300px;
  overflow: hidden;
}
.error_500 .image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.error_500 p {
  font-size: 1rem;
}
