
body {

  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none!important;
  font-family: 'Poppins';
  font-weight: 500;
  color: black;
  font-size: 1.2rem;
}
a:hover{
  color: black;
}