
body {

  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none!important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.1rem;
  font-family: 'Poppins';
  font-weight: 500;

}